In [585]:
from datetime import datetime
import csv
from attendance_tracker import *
import os
import simplelogging
from os.path import isdir
import numpy as np

In [586]:
filePath = "data/2021-1102_Customer_Cohort_1.csv"

In [587]:
df = pd.read_csv(filePath, names=['Email'])
df

    Email
0     red
1    blue
2  orange
3  yellow
4   green
5     red
6   hazel

In [588]:
df['2021-1102'] = True
# df = df.drop_duplicates()

In [589]:
df

    Email  2021-1102
0     red       True
1    blue       True
2  orange       True
3  yellow       True
4   green       True
5     red       True
6   hazel       True

In [590]:
df2 = pd.read_csv('data/2021-1103_Customer_Cohort_1.csv', names=['Email'])

In [591]:
data = df2
col_name = "2021-1103"
data[col_name] = True
data

    Email  2021-1103
0     red       True
1    blue       True
2  yellow       True
3   green       True
4    pink       True
5   azure       True
6  violet       True

In [592]:
# df[col_name] = np.nan
df.loc[:, (col_name)] = False
df

    Email  2021-1102  2021-1103
0     red       True      False
1    blue       True      False
2  orange       True      False
3  yellow       True      False
4   green       True      False
5     red       True      False
6   hazel       True      False

In [593]:
df.dtypes

Email        object
2021-1102      bool
2021-1103      bool
dtype: object

In [594]:
df = df.append(data)

In [595]:
df = df.groupby(['Email']).max()
df

       2021-1102  2021-1103
Email
azure        NaN       True
blue        True       True
green       True       True
hazel       True      False
orange      True      False
pink         NaN       True
red         True       True
violet       NaN       True
yellow      True       True

In [596]:
# for index, row in data.iterrows():
#     print(row["Email"])

#     cond = df["Email"] == row["Email"]
#     df[col_name][cond] = row[col_name]

#     # df.loc[df['Email'] == row['Email'], col_name] == row[col_name]
#     # df.loc[df['Email'] != row['Email'], 'Email'] == row['Email']
#     df = df.append(row)
   
#     # if df["Email"].str.contains(row["Email"], regex=False).any():
#     #     print("match")
#     #     print(df.loc[df["Email"] == row["Email"]])
#     #     (df.loc[df["Email"] == row["Email"]])[col_name] = "TOADS"
#     # else:
#     #     print("NO MATCH")
#     #     df = df.append(row)

In [597]:
df.dtypes

2021-1102    object
2021-1103      bool
dtype: object

In [598]:
df = df.fillna(False)
df

        2021-1102  2021-1103
Email
azure       False       True
blue         True       True
green        True       True
hazel        True      False
orange       True      False
pink        False       True
red          True       True
violet      False       True
yellow       True       True

In [599]:
df.dtypes

2021-1102    bool
2021-1103    bool
dtype: object

In [600]:
# df.drop_duplicates(subset='Email')